<%- unless @flickr_groups_displayed -%>
<table class="flickr_groups">
  <tr>
    <th>Our Problem</th>
    <th>Our Vision</th>
  </tr>
  <tr>
    <td>
      <object width="400" height="300"> <param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fgroups%2Fmta-malfeasance%2Fpool%2Fshow%2F&amp;page_show_back_url=%2Fgroups%2Fmta-malfeasance%2Fpool%2F&amp;group_id=1260302@N20&amp;jump_to=&amp;start_index="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fgroups%2Fmta-malfeasance%2Fpool%2Fshow%2F&amp;page_show_back_url=%2Fgroups%2Fmta-malfeasance%2Fpool%2F&amp;group_id=1260302@N20&amp;jump_to=&amp;start_index=" width="400" height="300"></embed></object>
    </td>
    <td>
      <object width="400" height="300"> <param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fgroups%2Fourmta%2Fpool%2Fshow%2F&amp;page_show_back_url=%2Fgroups%2Fourmta%2Fpool%2F&amp;group_id=1285289@N21&amp;jump_to=&amp;start_index="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fgroups%2Fourmta%2Fpool%2Fshow%2F&amp;page_show_back_url=%2Fgroups%2Fourmta%2Fpool%2F&amp;group_id=1285289@N21&amp;jump_to=&amp;start_index=" width="400" height="300"></embed></object>
    </td>
  </tr>
</table>
  <%- @flickr_groups_displayed = true -%>
<%- end -%>