<h2>Latest News</h2>

<%- if post = BlogPost.first -%>
<div class="section blog_post">
  <span class="date"><%= post.posted_on.to_s(:long) %></span>
  <h3><%= link_to post.title, post.url %></h3>
  <%= post.body %>
</div>
<%- end -%>
<p>For more, see <%= link_to 'our blog', blog_path %></p>
