<h1>Welcome to FixMta.org</h1>

<p>New York is the shining example of Mass Transit in America: our expansive subway system is the largest in the world, and the only that runs 24-hours a day.</p>

<p>But something is rotten at the MTA: mounting debt, out-moded infrastructure, and unacceptable capacity.  Without dramatic change, the future of New Yorkers' commutes is one of higher fares, ever-more-crowded trains, and rising frustration.</p>

<p>We at FixMta.org are committed to putting the MTA on the right track.  <%= link_to 'Join with us', '#join_us' %> to bring accountability and sustainability to New York transit.</p>
