<h1>Welcome to FixMta.org</h1>

<p>Millions of New Yorkers are frustrated with the <%= link_to 'perpetually shoddy service', problems_information_path %> of the MTA.  We know <%= link_to 'our trains, busses and subways can be be better', possibilities_information_path %>, our trips more enjoyable, but little has changed - at least until now.</p>