<h2>Welcome to FixMta.org</h2>

<p>New York is the shining example of Mass Transit in America: our expansive subway system is the largest in the world, and the only that runs 24-hours a day.</p>

<p>But with mounting debt, out-moded infrastructure, insufficient capacity, and little prospect for progress, New York transit only stands to get worse. Without meaningful change, the future of New York travel is one of higher fares, ever-more-crowded trains, and rising frustration.</p>

<p>We at FixMta.org are committed to putting the MTA on the right track. <%= link_to 'Join us', '#join_us' %> to help bring accountability and sustainability to our New York transit.</p>
