<h1>Welcome to FixMta.org</h1>

<p>After decades of shoddy service from the MTA, we think New Yorkers have had enough, and are ready for an MTA that works.</p>

<p>To help us fix the MTA, please <%= link_to 'join with us',  pledge_support_path %>. We'll keep you informed about new developments in the fight for an MTA that works, including a voter guide to let you know who has your interests at heart. Having your support, your voice and your vote helps us put the pressure on politicians, and break through the various forces which have been preventing reform for far too long.</p>

<p><%= link_to 'Show your support',  pledge_support_path %> for an MTA that works.</p>

<%= render :partial => "supporters/public_supporters" %>
