<div class="clearfix">
  <div class="picture right"><%= link_to image_tag('empty_platform.jpg', :size => '485x364'), 'http://www.flickr.com/photos/99887786@N00/3054677393/' %>
    <blockquote><p>The photographer writes: "Again, I was shocked. The subway is an iconic New York thing.. but [it] has not seen the kind of improvements/overhauls neccessary to bring it to the 21st century. While New York maintains their subway, I think they also take it for granted." <cite cite="http://www.flickr.com/photos/99887786@N00/3054677393/" rel="cc by-nc-nd"><%= link_to 'source', 'http://www.flickr.com/photos/99887786@N00/3054677393/' %></p></blockquote></div>

  <h2>Welcome to FixMta.org</h2>
  <p>New York is supposedly the shining example of Mass Transit in America: our subway system is the largest in the world, and the only that runs 24-hours a day.</p>

  <p>But with mounting debt, out-moded infrastructure, insufficient capacity, and little prospect for progress, New York transit only stands to get worse. Without meaningful change, the future of New York travel is one of higher fares, ever-more-crowded trains, and rising frustration.</p>

  <p>We at FixMta.org are committed to putting the MTA on the right track. Join us to help bring accountability and sustainability to our New York transit.  Join our email list, or attend our events to help us push things forward:</p>

  <%= render 'supporters/mail_chimp_sign_up_form' %>
</div>

<div class="clearfix">
  <%= render 'meetup/events/upcoming' %>
</div>
