<h1>About Us</h1>

<p>We're just a few folks who love transit, and want to see it excel.  We understand that hard problems don't always have easy solutions, but that by banding together, we can all help see the New York City area be better-served by its government and transit organizations.</p>

<p>The code which makes up this site is <%= link_to 'publicly available on github.com', 'http://github.com/Empact/fixmta.org/' %>, and is licensed <%= link_to 'CC BY-NC-SA', 'http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en' %>.  All included works are either in the public domain, used with permission, or used under their respective <%= link_to 'Creative Commons', 'http://creativecommons.org/' %> licenses.</p>
