<h1>About Us</h1>

<p>The code which makes up this site is <%= link_to 'publicly available on github.com', 'http://github.com/Empact/fixmta.org/' %>, and is licensed <%= link_to '(CC) Some Rights Reserved', 'http://creativecommons.org/licenses/by-nc-sa/2.0/deed.en' %>.  All included works are either in the public domain, used with permission, or used under their respective (CC) licenses.</p>

<p>Background Image courtesy of <%= link_to 'manu_le_manu', 'http://www.flickr.com/photos/manu_le_manu/253645920/' %>.</p>