<div class="clearfix">
  <h1><%= @page_title = 'Our Stagnating System' %></h1>
  <p>There are those who will tell you that MTA's current state is a passable solution for the people in and around New York City, but we know better.  Not only is service mediocre, the MTA is a bloated, wasteful organization on the path to financial ruin.  And in the end, the riders are on the hook.</p>
  <p>The problems are numerous, we're all familiar with them. In the mornings, trains are often late, packed, loud and slow running between stations which are crowded, dirty and littered with bottlenecks.  Indifferent station agents respond in mumbles if at all.  In the age of technology and communication, you're still unable to know even when trains or buses arrive and depart.  But why?</p>
</div>