<h1><%= @page_title = 'The Way Forward' -%></h1>

<p>New York transit riders are suffering because so many politicians in Albany have failed, again and again, to address the problem seriously.  The only way to change the way business is done at the MTA is to support those who understand the problems of the current MTA and are committed to transforming the organization to one of efficiency, convenience and continual improvement.</p>

<p>To that end, we at FixMta.org are committed to informing you of who is on the side of not just properly funding the MTA, but of reforming it to better fit the needs of New Yorkers.  We'll be releasing regular voters guides to help inform your votes, and we'll be using your support to put pressure on the politicians who resist progress and needed reforms.</p>

<p>So please <%= link_to 'join us', pledge_support_path %> in the fight for an MTA that works.</p>