<h1>Suggest a Fix</h1>

<p>The MTA controls a massive system of infrastructure, yet each of us experience the shortcomings of this system each and every day.  An unnecessary bottle neck, a missing technology, too-limited service, and so on.  The tool below is an opportunity to bring to our attention the problems that <em>you</em> know in the system, and to vote on the problems and suggestions brought forth by others.  Along the left are a number of sections, one for each part of the NY transit system.  Sign in, find the topic of your interest, and fire away!  Or just peruse what your fellow New Yorkers have been saying and voting on.</p>

<p>Going forward, we'll be using this feedback as a way to focus our approach.  We'll be working for immediate fixes for you, as well as the big reforms necessary for serious improvements.</p>

<p>If you think we've missed a section, or have any other suggestion which doesn't belong below, <%= link_to 'send us an e-mail', email_address_path %> and we'll get on it.</p>

<iframe src="http://moderator.appspot.com/?embed=<%= root_url %>#16/e=a5a83" width="100%" height="900"></iframe>