html {
	/* http://www.flickr.com/photos/manu_le_manu/253645920/ */
	background-image: url(../images/full_speed_ahead.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-color: #E6DEDC;
	padding-bottom: 250px;
	padding-top: 20px;
}

body {
	background-color: #F5FFFA;
	border: solid 2px #D3D3D3;
}

.container {
  margin: 0 auto;
}

.header {
	background-color: #AFB2A7;
	text-align: center;
}

.header .masthead {
	font-size: 2.5em;
}

.header .masthead:after {
	content: " : ";
}

.header .slogan {
	font-size: 2em;
}

/* flatten nav lists */
.header ul.nav {
	list-style-type: none;
	white-space: nowrap;
	text-align: center;
	font-size: 1.3em;
}

.header ul.nav li {
	display: inline;
}

/* place a bullet between entries in a horizontal list */
.header ul.nav li + li:before{
	content: " \002022  ";
}

.content {
	padding: 0 3em;
}

.picture {
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font: 11px/1.4em Arial, sans-serif;
	width: 55%;
}
.picture img {
	border: 1px solid #CCCCCC;
	vertical-align:middle;
	margin-bottom: 3px;
	width: 100%;
}

.footer {
	width: 300px;
	margin: auto;
}

.left  { float: left; margin: 0.5em 1.5em 0.5em 0; padding: 0; }
.right { float: right; margin: 0.5em 0 0.5em 1.5em; }
