html {
	/* http://www.flickr.com/photos/manu_le_manu/253645920/ */
	background-image: url(../images/full_speed_ahead.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 230px;
}

body {
	background-color: #F5FFFA;
	border: solid 2px #D3D3D3;
}

/* flatten nav lists */
ul.nav {
	list-style-type: none;
	white-space: nowrap;
	text-align: center;
}

ul.nav li {
	display: inline;
}

/* place a bullet between entries in a horizontal list */
ul.nav li + li:before{
	content: " \002022  ";
}

.content {
	padding: 0 3em;
}

.picture {
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	padding: 3px;
	font: 11px/1.4em Arial, sans-serif;
	max-width: 40%;
}
.picture img {
	border: 1px solid #CCCCCC;
	vertical-align:middle;
	margin-bottom: 3px;
	width: 100%;
}

.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right { float: right; margin: 1.5em 0 1.5em 1.5em; }
