<h1><%= @page_title = 'Share Your Story' %></h1>

<%= render 'information/flickr/groups' %>

<p>To further the case for change, we're collecting photos of all of the MTA's worst scenes and moments at our <a href="http://flickr.com/">Flickr</a> group: <a href="http://www.flickr.com/groups/mta-malfeasance/pool/show/">MTA Malfeasance</a>.</p>

<p>And to balance things out, on the right we've collected some of our best transit moments, many of them seen and experienced abroad.  You can find these at <a href="http://www.flickr.com/groups/ourmta/pool/">OurMTA's happy transit</a>.</p>

<p>Please do contribute your photos and videos!  We know you've got some good ones!</p>
