<h1><%= @page_title = 'Suggest a Fix' %></h1>

<p>The MTA controls a massive system of infrastructure, yet each of us experience the shortcomings of this system each and every day.  The tool below is an opportunity to share the problems that <em>you</em> know in the system, and to vote on which are most pressing.</p>

<p>Along the left are a number of sections, one for each part of the NY transit system.  Share what you know, or just peruse what your fellow New Yorkers have been saying and voting on. Going forward, we'll be using this feedback as a way to help focus our approach.</p>

<p>If you think we've missed a section, or have any other suggestion which doesn't belong below, <%= link_to 'send us an e-mail', email_address_path %> and we'll get on it.</p>

<iframe src="http://moderator.appspot.com/?embed=<%= root_url %>#16/e=a5a83" width="100%" height="900"></iframe>