<h1>Welcome to FixMta.org</h1>

<p>Intro Copy</p>

<%= link_to 'Show your support', new_supporter_path %>

<h2>What's Wrong with MTA?</h2>

<h2>What's Possible When MTA is Fixed?</h2>

<h2>How could it all work?</h2>