<h1>Welcome to FixMta.org</h1>

<p>Intro Copy</p>

<%= link_to 'Show your support', new_supporter_path %>
<%= render :partial => "supporters/public_supporters" %>

<h2>What's Wrong with MTA?</h2>
<p>There are those who will tell you that MTA's current state is a passable solution for the people in and around New York
City, but we know better.  The problems are numerous, we're all familiar with them.  In the mornings, trains are late,
packed, loud and slow running (and often stopping) between stations which are crowded, dirty and littered with bottlenecks.
Indifferent station agents respond in mumbles if at all.  In the internet age, you're unable to know even when trains might
arrive.  Service change notices hang everywhere, notifying you of more annoyances, while "explaining" your inconvenience with a
simple "We are performing track maintenance."</p>

<p>And that's not all.  The system, as it is, was built decades ago.  Every line we currently have, and even those in
progress were planned long ago, in the 1920's.  The entire system was built in a few decades, and has been decaying for 70
years since.  The Second Avenue Line, now slated to open in 2015, was on the planning maps in 1929, nearly 100 years earlier. 
Meanwhile, large areas of all boroughs are unserved by the subways.  Not only is the Second Avenue line sorely needed, 100
years later, but there are areas farther east and west whose substantial population is avenues away from the nearest
station.</p>

<h2>What's Possible When MTA is Fixed?</h2>

<h2>How could it all work?</h2>
