<h2>Upcoming Events</h2>

<%- events = Meetup::Event.all -%>
<%- if events -%>
<ol class="events">
  <%- events.each do |event| -%>
    <li><%= render 'meetup/events/event', :event => event %></li>
  <%- end -%>
</ol>
<p>For more, <%= link_to 'join our Meetup group', meetup_group_path %></p>
<%- else -%>
  <p>None scheduled at the moment, <%= link_to 'join our Meetup group', meetup_group_path %> to stay in the loop</p>
<%- end -%>