<% content_for :deferred_loading do %>
<!--[if IE]>
<style type="text/css" media="screen">
	#mc_embed_signup fieldset {
		position: relative;
	}
	#mc_embed_signup legend {
		position: absolute;
		top: -1em;
		left: .2em;
	}
</style>
<![endif]--> 
<script type="text/javascript">
// delete this script tag and use a "div.mc_inline_error{ XXX !important}" selector
// or fill this in and it will be inlined when errors are generated
var mc_custom_error_style = '';
</script>
<script type="text/javascript" src="http://fixmta.us1.list-manage.com/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="http://fixmta.us1.list-manage.com/js/jquery.validate.js"></script>
<script type="text/javascript" src="http://fixmta.us1.list-manage.com/js/jquery.form.js"></script>
<script type="text/javascript" src="http://fixmta.us1.list-manage.com/subscribe/xs-js?u=b5f3cdf58eb80542c5e1ccc18&amp;id=3ff0616d08"></script>
<% end %>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://fixmta.us1.list-manage.com/subscribe/post?u=b5f3cdf58eb80542c5e1ccc18&amp;id=3ff0616d08" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="font: normal 100% Arial, sans-serif;font-size: 10px; margin: 0 15em;">
	<fieldset style="-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #ccc;padding-top: 1.5em;margin: .5em 0;background-color: #fff;color: #000;">
  	<legend>Join our email list:</legend>
    <div class="mc-field-group">
<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="margin-right: 1.5em;padding: .2em .3em;width: 80%;z-index: 999;">
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
</div>
  <div id="mce-responses" style="float: left;top: -1.4em;padding: 0em .5em 0em .5em;overflow: hidden;width: 90%;margin: 0 5%;clear: both;">
  	<div class="response" id="mce-error-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #FBE3E4;color: #D12F19;"></div>
  	<div class="response" id="mce-success-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #E3FBE4;color: #529214;"></div>
  </div>
	</fieldset>	
	<a href="#" id="mc_embed_close" class="mc_embed_close" style="display: none;">Close</a>
</form>
</div><!--mc_embed_signup-->
