<%- public_supporters = Supporter.public -%>
<h2>Recent Supporters</h2>
<p>Almost there! Here's what your fellow riders have to say about the MTA:</p>

<ul>
<%- public_supporters.each do |public_supporter| -%>
  <li>
    <%= public_supporter.name %>
    <%- if public_supporter.message -%>
      <p>"<%= public_supporter.message -%>"</p> 
    <%- end -%>
  </li>
<%- end -%>
</ul>