<h1><%= @page_title = 'Pledge Your Support' -%></h1>

<p>Millions of New Yorkers are frustrated with the perpetually shoddy service of the MTA.  But to make us all heard, we need to speak with a single voice.  Your signing up to FixMta.org will enable us to keep you in the loop for the most important e-mail updates, and to help you keep your elected representatives accountable.  Please sign up, and if you're so inclined, make a public statement of your support, and put your own perspective in writing. New York is listening.</p>

<%= render "supporters/public_supporters" %>
