<h1><%= @page_title = 'Thanks for joining FixMta.org' %></h1>

<p>We'll be sending you monthly updates on the efforts and progress toward an effective, accountable MTA, and a far better New York transit system.</p>