<h1><%= @page_title = 'Thanks for joining OurMTA' %></h1>

<p>We'll be sending you monthly updates on the efforts and progress toward an effective, accountable MTA, and a far better New York transit system.</p>

<p>In the mean time, check out our upcoming events, below or add to <%= link_to 'our growing priorities list', suggestions_actions_path %>:</p>

<%= render 'meetup/events/upcoming' %>
