<li><%= link_to_unless_current 'Our Stagnating System', problems_information_path %></li>
<li><%= link_to_unless_current "What's Possible", possibilities_information_path %></li>
<li><%= link_to_unless_current 'Suggest a Fix', suggestions_information_path %></li>
<li><%= link_to_unless_current 'Picture the Problem', picture_the_problem_information_path %></li>